body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border: 0;
}

body {
    background-image: url(../images/dark-wood.jpg);
}

.glow {
    
}
@import "common/fonts";
@import "receiver/loading";
@import "receiver/iframe";
@import "receiver/osd";
@import "receiver/connecting";
@import "receiver/benchmark";
